# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flask
instance/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Node / React
node_modules/
frontend/build/

# Logs
*.log
