@import "tailwindcss";

@theme {
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Bebas Neue", sans-serif;

  --color-background: #121212;
  --color-surface: #161616;
}

@utility nav-link {
  @apply relative inline-flex items-center h-full text-sm font-semibold tracking-tight transition-all duration-300;
  @apply text-white;

  &::after {
    content: "";
    @apply absolute bottom-0 left-1/2 -translate-x-1/2 h-1 w-0 bg-zinc-800 transition-all duration-300 ease-out;
  }
  &:not(.nav-link-active):hover::after {
    @apply w-full bg-zinc-700;
  }
}

@utility nav-link-active {
  @apply text-blue-400 font-semibold;

  &::after {
    @apply w-full bg-blue-400;
  }
}